body{
  margin-left:5%;
  margin-right: :5%;
  margin-bottom:5%;
background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);

  color:white;
}
.srishti{
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}
.navbar{

  margin-top:0;
  margin-left: 0;
  color: white;
background-image: linear-gradient( 107.2deg,  rgba(18,38,170,1) 12.9%, rgba(0,187,180,1) 77.6%, rgba(255,255,255,1) 125.9% );
}
.navbar-brand{
  color:#fff;
  font-weight: bold;
  position: relative;
  z-index: 2;
}
.bgimg{
  width:100%;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6));
  background-position: center;
  overflow-x: hidden;
  position:relative;
  z-index: 0;
}
h1{

}
.coordinatorheading{
  padding:50px;
}
h4{
  font-size: 1.5rem;
}
p{
  font-size: 1rem;
}
.rowsetting{
padding-top:50px;


}
.imgsetting{
  border-radius: 50%;
  height:100px;
  width:100px;
}
.fa-user{
  margin-top: 15px;
}
.secondclass{
  margin:10%;
}
.achievers{
  width:20%;
  height:10%;
}
.photos{
  border-radius: 100%;
  width:100%;
}
section{
margin:50px;

}
.elogo{
  width:200px;
  justify-content: center;
  border-radius: 100%;
}
.btn-box{
  box-sizing: border-box;
  border-radius: 30px;
  text-decoration: none;
  background: #00416A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFE000, #799F0C, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFE000, #799F0C, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


padding:0.5%;
}
.btn-box:hover {
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
text-decoration: none;
color:white;
font-weight: bold;
text-shadow: 30px;

}
