*{
  margin:0;
  padding:0;
}
html{
  background:linear-gradient(90deg,#1B67E8,#620963);
  text-align: center;
}

h1,h2{
  color: white;
  margin-bottom: 1%;
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
}
h2{
  margin-top: 1%;
}
.box{
  margin-top:5%;
}
.box input[type="number"]{
font-size: 1.2em;
color:#004d00;
font-weight:normal;

}
.box input[type="text"]{
  font-size: 1.2em;
  color:#004d00;
  font-weight:normal;
  margin-top: 1%;
}

.box input[type="submit"],.box input[type="reset"]{
  border:1% solid #2ecc71;
  height:10%;
  width:6%;
  margin-top:2%;
  padding: 0.5%;
  cursor: pointer;
  font-family:cursive;
  font-weight: bold;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(101,9,121,1) 35%, rgba(0,212,255,1) 100%);
  border-radius: 10%;
}

.box input[type="submit"]:hover,.box input[type="reset"]:hover{
  color:white;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,88,1) 35%, rgba(0,212,255,1) 100%);
}
table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom:5%;
  width:80%;
}

table,td{
  border-color: #3c2946;
  border-spacing: 3%;
  border-style: ridge;
  background-color: #8675a9;
  background: transparent;

}
@media only screen and (max-width: 768px){
.box input[type="submit"],.box input[type="reset"]{
 width:50px;
 height:30px;

}

}
