body{
background-color: #1d2a43 ;
font-family: 'Comfortaa', cursive;
}
p{
  font-size: 80%;
  color:#0f4c75;
}
a{
  text-decoration: none;
}
.forget{
  margin-bottom:5%;
  margin-top: 0.5%;
  font-size:50%;
  color:#0f4c75;
margin-left:50%;

}
.form .box {
  width:20%;
  height:90%;
  padding:5px 5px 5px 80px;
  position:absolute;
  top:10%;
  left:68%;
  right:5%;
  border-radius: 5%;
  background:#191919;
  text-align:left;
  background: white;
  line-height: 50px;
}
.box:hover{
  animation:animate 8s linear infinite;
}
.box:hover{
  animation:animate 8s linear;
}
.ui{
  padding: 8% 60% 0 10%;
  width: 20%;
}
.welcome{
  color: white;
  padding-left: 10%;
}
.lorem{
  color:white;
  padding-left: 10%;
  text-align: left;
  display: block;
  z-index: -1;
  position: relative;
}
.login{
  padding:5%;
}
.box input[type="email"],.box input[type="password"]{
 width:70%;
height: 6%;
 padding:3%;
 position: relative;
 line-height: 200px;
border-radius: 10%;
border-width: 1px;
}
.box input[type="submit"]{
margin-left:12%;
text-align: center;
width:45%;
text-transform:uppercase;
border-radius: 10%;
background-color: #0f4c75;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 1024px){
  .form .box{
    width:24%;
    height:30%;
    margin:auto;
    padding:30px;
    top:80%;
    left:20%;
    right:20%;
    border-radius: 5%;
    background:#fff;
    text-align:left;
    line-height: 80%;
    position: absolute;
  }
  .ui{
    padding: 8% 60% 0 10%;
    width: 40%;
  }
  .welcome{
    color: white;
    padding-left: 10%;
  }
  .lorem{
    color:white;
    padding-left: 10%;
    text-align: left;
    display: block;
    z-index: -1;
    padding-bottom: 10%;
    position:relative;
  }
.text{
  align-items: center;
}

.login{
  padding:1%;
font-size: 1.5em;
}
.box input[type="email"],.box input[type="password"]{
 width:70%;
height: 6%;
 padding:3%;
 position: relative;
 line-height: 200px;
border-radius: 10%;
border-width: 1px;
}
.box input[type="submit"]{
margin-left:30%;
padding:1%;
text-align: center;
}
}
