   body{
  margin-left:0;
  margin-right: :5%;
  margin-bottom:5%;
background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  color:white;
}
.navtoogle{
  padding-top:0;
}
.srishti{
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}
.navbar{
  margin-top:0;
  margin-left: 0;
  color: white;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}
.navbar-brand{
  color:#fff;
  font-weight: bold;
  position: relative;
  z-index: 2;
}
.bgimg{
  margin-top: 5%;
  width:80%;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6));
  background-position: center;
  overflow-x: hidden;
  position:relative;
  z-index: 0;
}
h1,h2,h3,h4,h5{
font-family: 'Patua One', cursive;
padding: 1%;

}
h1{
  font-size: 300%;
}
.coordinatorheading{
  padding:50px;
}
h4{
  font-size:165%;
}
p{
  font-family: 'Aclonica', sans-serif;
  font-size: 1rem;
}

.navtext{
  font-size: 1.5rem;
  font-weight: bold;
}
.img-nav{
  width:4%;
}
.navtext : hover{
  color:#440047;
}
.aboutme{
   border-top: 3px dotted white;
}
.rowsetting{
padding-top:50px;
}
.imgsetting{
  border-radius: 50%;
  height:100px;
  width:100px;
}
.fa-user{
  margin-top: 20px;
}
.fa-graduation-cap{
  margin-top: 25px;

}
.fa-book{
  margin-top: 25px;

}

.education{
  border-radius: 10%;
}
.secondclass{
  margin:10%;
}
.achievers{
  width:40%;
  height:40%;
}

.photos{
  border-radius: 100%;
  width:100%;
}
section{
margin:50px;

}
.homepage{
  margin:0;
  padding:0;
}
.elogo{
  width:200px;
  justify-content: center;
  border-radius: 100%;
}
.btn-box{
  box-sizing: border-box;
  border-radius: 30px;
  text-decoration: none;
  background-color: #1fd1f9;
background-image: radial-gradient( circle 926px at 2.7% 11%,  rgba(17,29,94,1) 0%, rgba(178,31,102,1) 90% );
padding:1.5%;
color: white;
}
.btn-box:hover {
  background-color: #4158D0;
background-image: linear-gradient( 135.9deg,  rgba(109,25,252,1) 16.4%, rgba(125,31,165,1) 56.1% );color:white;
font-weight: bold;
text-shadow: 30px;
text-decoration: none;

}
.carousel-item{
  background-size: cover;

}
.register{
  text-align: center;
}

/*form css*/
marquee{
      font-size: 30px;
      font-weight: 800;
      color: #8ebf42;
      font-family: sans-serif;
      }
.box{
  width:25%;
  padding:40px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:#191919;
  text-align: center;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;

}
.box:hover{
  animation:animate 8s linear infinite;

}
.box:hover{
  animation:animate 8s linear;
}
@keyframes animate
{
  0%
  {
    background-position: 0%;
  }
  100%
  {
    background-position: 400%;
  }
}

a:before{
  content: '';
  position: absolute;
  top:-5%;
  left:-5px;
  right:-5px;
  bottom:-5px;
  z-index: -1;
  background:linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;

}
a:before{
  filter:blur(20px);
  opacity: 1;
  animation:animate 8s linear;

}

.box h1{
  text-align:center;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 30px;
  color: white;
}
.box input[type="text"],.box input[type="email"],.box input[type="number"] {
  border:0;
  background:none;
  display: block;
  margin:0px auto;
  text-align: center;
  border:2px solid #7D0541;
  padding:14px 10px;
  outline:none;
  color:white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,.box input[type="email"]:focus,.box input[type="number"]:focus{
  width:280px;
  border-color: #4CC417;
}

.box input[type="submit"]
{
  border:0;
  background:none;
  display: block;
  margin:20px auto;
  text-align: center;
  border:2px solid #008080;
  padding:14px 10px;
  outline:none;
  color:white;
  text-transform: capitalize;
  border-radius: 28px;
  transition: 0.25s;
  cursor:pointer;
}
.box input[type="submit"]:hover{
  border-radius: 18px;
  background:#41A317;
}
.github{
   color:white;
   }
